<a href="https://colab.research.google.com/github/arpit1729/ma22c007_2023_PL/blob/main/Assignments/Assignment_9/Pandas_from_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
d0 = {2: 'a', 1: 'b', 3: 'c'}
P_d0 = pd.Series(d0)
print(P_d0)

2    a
1    b
3    c
dtype: object

In [19]:
#Sorting the indices
P_d0 = P_d0.sort_index()
print(P_d0)

1    b
2    a
3    c
dtype: object

In [21]:
d_1 = {'a': 1, 'b': 2}
d_2 = {'b': 3, 'c': 4}
# Createing Series from d_1 and d_2
Pd_1 = pd.Series(d_1)
Pd_2 = pd.Series(d_2)
dd = pd.concat([Pd_1, Pd_2], axis=1, keys=['d1', 'd2'])
print(dd)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [4]:
column_d1 = dd['d1']
print(column_d1)

a    1.0
b    2.0
c    NaN
Name: d1, dtype: float64

In [5]:
columns_d1_and_d2 = dd[['d1', 'd2']]
print(columns_d1_and_d2)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [22]:
sliced_rows = dd[1:3]
print(sliced_rows)

    d1   d2
b  2.0  3.0
c  NaN  4.0

In [23]:
# Accessing the specific rows by label and the specific columns by label
sliced_subset = dd.loc[['a', 'b', 'c'], ['d1', 'd2']]
print(sliced_subset)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [24]:
# Accessing the specific rows and  the columns by integer position
sliced_subset_iloc = dd.iloc[1:3, 0:1]  # Access rows 1 and 2, columns 0
print(sliced_subset_iloc)

    d1
b  2.0
c  NaN

In [25]:
# Accessing the first row  and the first column
value = dd.iloc[0, 0]
print(value)

1.0

In [10]:
# Accessing a subset of rows and columns using integer positions
subset = dd.iloc[1:3, 0:2]  # Rows 1 and 2, columns 0 and 1
print(subset)

    d1   d2
b  2.0  3.0
c  NaN  4.0

In [26]:
# Accessing an element by row label 'a' and column label 'd1'
value = dd.loc['a', 'd1']
print(value)

1.0

In [27]:
# Accessing a subset of rows and columns by labels
subset = dd.loc[['a', 'b', 'c'], ['d1', 'd2']]
print(subset)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [28]:
print(f"orignal dataframe\n {dd}\n")
filled_df_rows = dd.fillna(method='ffill', axis=0)
print(f"forwaded filling along axes 0(row) \n{filled_df_rows}")

orignal dataframe
     d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

forwaded filling along axes 0(row)
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  2.0  4.0

In [14]:
# Forward fill along columns (axis 1)
filled_df_columns = dd.fillna(method='ffill', axis=1)
print(f"forwaded filling along axes 1(colume) \n{filled_df_columns}")

forwaded filling along axes 1(colume)
    d1   d2
a  1.0  1.0
b  2.0  3.0
c  NaN  4.0

In [29]:
# Backward fill along rows (axis 0)
filled_df_rows = dd.fillna(method='bfill', axis=0)
print(f"backward filling along axes 0(row) \n{filled_df_rows}")

backward filling along axes 0(row)
    d1   d2
a  1.0  3.0
b  2.0  3.0
c  NaN  4.0

In [30]:
# Backward fill along columns (axis 1)
filled_df_columns = dd.fillna(method='bfill', axis=1)
print(f"backward filling along axes 1(colume) \n{filled_df_columns}")

backward filling along axes 1(colume)
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  4.0  4.0